</div>

<footer class="footer">
  <div class="container d-flex flex-column-reverse flex-md-row align-items-center justify-content-between py-4 my-2">
    <div class="text-gray mt-3 mt-md-0">© 2020 Supersite, Powered by News API</div>
    <div class="d-flex align-items-center">
      <nav class="footer__navigation me-4 flex-wrap">
        <a href="#" class="text-dark">Главная</a>
        <a href="#" class="text-dark ms-md-3">Яндекс.Практикум</a>
      </nav>
      <div class="d-flex flex-nowrap">
        <a href="#" class="p-2">
          <img src="./images/svg/github.svg" alt="" class="icon" />
        </a>
        <a href="#" class="ml-2 p-2">
          <img src="./images/svg/fb.svg" alt="" class="icon" />
        </a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
